{{define "component-pto-list"}}
{{if .requests}}
<div class="requests-lits">
	<div class="request-list-header">
		<div>Type</div>
		<div>Name</div>
		<div>Date From</div>
		<div>Date To</div>
		<div>Duration</div>
		<div>Status</div>
		<div>Action</div>
	</div>
	<div class="request-list-body">
		{{range $request := .requests}}
		<div class="request-list-item">
			<div data-label="Type">{{.Type}}</div>
			<div data-label="Name">{{.User}}</div>
			<div data-label="Date From">{{.StartDate.Format "January 2, 2006"}}</div>
			<div data-label="Date To">{{.EndDate.Format "January 2, 2006"}}</div>
			<div data-label="Duration">{{.Days}}</div>
			<div data-label="Status" id="status-{{.Id}}">{{.Status}}</div>
			<div data-label="Action" class="action-cell">
				{{if $.config}}
				{{range $key, $val := $.config.Action}}
					{{if eq $val "approve"}}
						<button class="button-circle-outline" hx-post="/team-requests/{{$request.Id}}" hx-target="#status-{{$request.Id}}" hx-swap="innerHTML" hx-trigger="click" title="Accept">
							<i class="fa-solid fa-check"></i>
						</button>
					{{end}}
					{{if eq $val "cancel"}}
						<button class="button-circle-outline danger" hx-post="/team-requests/{{$request.Id}}" hx-target="#status-{{$request.Id}}" hx-swap="innerHTML" hx-trigger="click">
							<i class="fa-solid fa-xmark"></i>
						</button>
					{{end}}
				{{end}}
					
				{{end}}
			</div>
		</div>
		{{end}}
	</div>
</div>
{{else}}
<div class="empty-list">
	<img src="/static/img/box.png" width="40px" height="auto" class="image">
	no requests.
</div>
{{end}}

{{end}}
