<!DOCTYPE html>
<html>

<head>
	<title>{{.title}}</title>
	<script src="/js/htmx.min.js"></script>
</head>

<body>
	<input type="text" name="q" hx-get="/trigger_delay" hx-trigger="keyup changed delay:500ms"
		hx-target="#search-results" placeholder="Search...">
	<div id="search-results"></div>
	<div hx-post="/test" hx-trigger="load" hx-target="#result">Click</div>
	<div id="result"></div>
</body>

</html>
