{{template "head"}}
{{template "header" .}}
<div class="container">
	<h1>Hello, {{.name}}!</h1>
	<div class="dashboard-summary">
		<div class="dashboard-balance-columns card">
			<div class="balance-title">
				<img src="/static/img/sun-bed.png" width="30px" height="auto" class="image">
				<h2>Vacation Leave </h2>
			</div>
			<div class="balance">{{.vacation}}</div>
		</div>
		<div class="dashboard-balance-columns card">
			<div class="balance-title">
				<img src="/static/img/fever.png" width="30px" height="auto" class="image">
				<h2>Sick Leave </h2>
			</div>
			<div class="balance">{{.sick}}</div>
		</div>
	</div>
	<div class="dashboard-pending-head">
		<h2>My Requests</h2>
		<button>Submit a request</button>
	</div>
	<div hx-post="/my-requests" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#spinner" class="card">
		<div id="spinner" class="hidden">Loading...</div>
	</div>
</div>
{{template "footer"}}
